:root {
  --color-negro_claro: #1e1e1e;
  --color-blanco: #e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-negro_claro);
  max-width: 48.75rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--color-blanco);
}

a {
  color: var(--color-blanco);
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  display: grid;
  place-items: center;
  margin: 1rem 1.8rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}