---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Skill from "./views/Skill.astro";
import Projects from "./views/Projects.astro";
import AboutMe from "./views/AboutMe.astro";
import Training from "./views/Training.astro";
import Contact from "./views/Contact.astro";
---

<Layout>
  <Header />
  <main>
    <AboutMe />
    <Skill />
    <Projects />
    <Training />
    <Contact />
  </main>
</Layout>
