---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Portafolio de Valentín Tito, que muestra sus proyectos y habilidades." />
		<link rel="icon" type="image/svg+xml" href="/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Valentín Tito</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		font-family: 'Inter', sans-serif;
	}
</style>
